Django>=4.2.14,<6
pytz==2025.2
asgiref==3.11.1
httplib2==0.31.2
Markdown==3.10.2 # pyup: < 3
psycopg[binary]==3.3.2
versiontools==1.9.1
statsd==4.0.1
pep8==1.7.1
pyflakes==3.4.0
mccabe==0.7.0
configparser==7.2.0
importlib-metadata==8.7.1
zipp==3.23.0
pycodestyle==2.14.0
flake8==7.3.0
tornado==6.5.4
beautifulsoup4==4.14.3
cssselect==1.4.0
lxml==6.0.2
fuzzywuzzy==0.18.0
pyasn1==0.6.2
cffi==2.0.0 # pyOpenSSL
cryptography==46.0.5  # pyOpenSSL
pyOpenSSL==25.3.0
ndg-httpsclient==0.5.1
urllib3==2.6.3  # requests, sentry-sdk
chardet==5.2.0  # requests
idna==3.11  # requests
certifi==2026.1.4  # requests, sentry-sdk
requests==2.32.5

astroid==4.1.0
pylint==4.0.4

ipaddress==1.0.23  # faker
faker==40.4.0  # factory_boy
factory_boy==3.3.3

ldap3==2.9.1
sqlparse==0.5.5

# boto3 deps
s3transfer==0.16.0
jmespath==1.1.0

botocore>=1.12.198,<1.43.0
boto3>=1.9.198,<1.43.0

python-dateutil==2.9.0.post0

python-cas==1.7.1
django-cas-ng==5.1.0
django-appconf==1.2.0
django-statsd-mozilla==0.4.0
sentry-sdk[django]==2.52.0
django-bootstrap5==26.2

django-debug-toolbar==6.2.0

django-waffle==5.0.0

django-smoketest==1.2.1
# For django-extensions
django-extensions==4.1
django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-impersonate==1.9.5
gunicorn==25.1.0

djangorestframework==3.16.1

django-storages==1.14.6
ctlsettings==0.4.6

text_unidecode==1.3

pbr==7.0.3 # bandit
pyyaml==6.0.3 # bandit
stevedore==5.6.0  # bandit
rich==14.3.2 # bandit
bandit==1.9.3

django-smtp-ssl==1.0
django-contact-us==1.1.0

entrypoints==0.4

webencodings==0.5.1 # django-markdownify
tinycss2==1.5.1 # django-markdownify
bleach==6.3.0 # django-markdownify
django-markdownify==0.9.6
